<div class="container">
    <p>Nuovo invito da <%= @nome %>!</p>
    <p>
    Dettagli invito<br>
    --------------------------
    </p>
    <p>Username amministratore: <%= @nome %></p>
    <p>Condominio: <%= @condominio %></p>
    <p>Città: <%= @comune %></p>
    <p>Via condominio: <%= @via %></p>
    <p>
    Invito:<br>
    ----------
    </p>
    <p><%= @message %></p>
</div>