<div class="container">
    <p>Nuova comunicazione da <%= @nome %>!</p>
    <p>
    Dettagli comunicazione<br>
    --------------------------
    </p>
    <p>Username amministratore: <%= @nome %></p>
    <p>Email: <%= @email %></p>
    <p>Condominio: <%= @condominio %></p>
    <p>Città: <%= @comune %></p>
    <p>Via condominio: <%= @via %></p>
    <p>
    Messaggio:<br>
    ----------
    </p>
    <p><%= @message %></p>
</div>