<%= form_with(model: condominio) do |form| %>
  <% if condominio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(condominio.errors.count, "error") %> prohibited this condominio from being saved:</h2>

      <ul>
        <% condominio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :comune %>
    <%= form.text_field :comune %>
  </div>

  <div class="field">
    <%= form.label :indirizzo %>
    <%= form.text_field :indirizzo %>
  </div>

  <div class="field">
    <%= form.label :latitudine %>
    <%= form.text_field :latitudine %>
  </div>

  <div class="field">
    <%= form.label :longitudine %>
    <%= form.text_field :longitudine %>
  </div>

  <div class="field">
    <%= form.label :codice %>
    <%= form.text_field :codice %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
