<%= form_with(model: condominio) do |form| %>
  <% if condominio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(condominio.errors.count, "error") %> prohibited this condominio from being saved:</h2>

      <ul>
        <% condominio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if condominio.avatar.present? %>
    <%= image_tag(condominio.avatar.variant(resize_to_fill: [1000, 150])) %>
  <% else %>
    <%= image_tag("banner.png", width: 1000, height: 150) %>
  <% end %>

      <!--Avatar Upload Field-->
  <div class="field">
    <label class="col-sm-4 col-form-label">Banner:
      <% if condominio.avatar.present? %><br />Current: <%= condominio.avatar.filename.to_s %><% end %>
    </label>
    <div class="col-sm-8">
      <%= form.file_field :avatar, class: "form-control" %>
    </div>
  </div>
  <!--Avatar Upload Field-->

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :comune %>
    <%= form.text_field :comune %>
  </div>

  <div class="field">
    <%= form.label :indirizzo %>
    <%= form.text_field :indirizzo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
