<p id="notice"><%= notice %></p>

<h1>Condominios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Comune</th>
      <th>Indirizzo</th>
      <th>Latitudine</th>
      <th>Longitudine</th>
      <th>Codice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @condominios.each do |condominio| %>
      <tr>
        <td><%= condominio.nome %></td>
        <td><%= condominio.comune %></td>
        <td><%= condominio.indirizzo %></td>
        <td><%= condominio.latitude %></td>
        <td><%= condominio.longitude %></td>
        <td><%= condominio.flat_code %></td>
        <td><%= link_to 'Show', condominio %></td>
        <td><%= link_to 'Edit', edit_condominio_path(condominio) %></td>
        <td><%= link_to 'Destroy', condominio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Condominio', new_condominio_path %>
