<p id="notice"><%= notice %></p>

  <% if @condominio.avatar.present? %>
    <%= image_tag(@condominio.avatar.variant(resize_to_fill: [1000, 150])) %>
  <% else %>
    <%= image_tag("banner.png", width: 1000, height: 150) %>
  <% end %>

<p>
  <strong>Nome:</strong>
  <%= @condominio.nome %>
</p>
<p>
  <strong>Comune:</strong>
  <%= @condominio.comune %>
</p>

<p>
  <strong>Indirizzo:</strong>
  <%= @condominio.indirizzo %>
</p>

<p>
  <strong>Latitudine:</strong>
  <%= @condominio.latitude %>
</p>

<p>
  <strong>Longitudine:</strong>
  <%= @condominio.longitude %>
</p>

<p>
  <strong>Codice:</strong>
  <%= @condominio.flat_code %>
</p>

<h2>Bacheca dei post:</h2>
<% @condominio.posts.each do |post| %>
  <p>
    <strong>Titolo:</strong>
    <%= post.title %>
  </p>
  <strong>userid:</strong>
    <%= post.user_id %>
  <p>  
  </p>
  <p>
    <strong>Post:</strong>
    <%= post.body %>
  </p>

<% end %>

<h2>Aggiungi un Post:</h2>
<%= form_with model: [@condominio, @condominio.posts.build ] do |form|
%>
  <p>
    <%= form.label :title  %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_condominio_path(@condominio) %> |
<%= link_to 'Back', condominios_path %>
