<div class="container">
  <p id="notice"><%= notice %></p>
  <% if @condominio.avatar.present? %>
    <%= image_tag(@condominio.avatar.variant(resize_to_fill: [1000, 150])) %>
  <% else %>
    <%= image_tag("banner.png", width: 1000, height: 150) %>
  <% end %>
  <h1>Informazioni condominio</h1>
  <p>
    <strong>Nome:</strong>
    <%= @condominio.nome %>
  </p>
  <p>
    <strong>Comune:</strong>
    <%= @condominio.comune %>
  </p>

  <p>
    <strong>Indirizzo:</strong>
    <%= @condominio.indirizzo %>
  </p>
  <p>
    <strong>Partecipanti:</strong>
    <%= link_to 'Lista membri', condominio_condominos_path(@condominio),:class => "btn btn-primary" %> 
  </p>
  <% if can? :update, @condominio%>
    <p>
      <strong>Codice:</strong>
      <%= @condominio.flat_code %>
    </p>
  <% end %>
  <br>
  <% if can? :update, @condominio%>
    <% if can? :comunication_for_admin, @condominio %>
    <%= link_to 'Comunica con Admin', condominios_create_comunication_for_admin_path(:condominio_id => @condominio.id),:class => "btn btn-primary my-2"%> | <% end %>
    <%= link_to 'Modifica', edit_condominio_path(@condominio),:class => "btn btn-primary my-2" %> | <% end %>
    <% if !current_user.is_admin? && !(can? :update, @condominio) %>
    <%= link_to 'Esci dal Condominio', condomino_path(Condomino.find_by(user_id: current_user.id, condominio_id: @condominio.id)), method: :delete, data: { confirm: 'Sei sicuro?' },:class => "btn btn-primary my-2"%> | <% end %> <%= link_to 'Home', condominios_path,:class => "btn btn-primary my-2" %>
  <br>
  <div class="row gx-5 all-row">
    <div class="col">
      <h2>Bacheca dei post:</h2>
        <% if @condominio.posts.exists? %>
          <% @condominio.posts.order(id: :desc).each do |post| %>
          <div class='card post-card'>
            <div class="post">
              <div class="card-header">
                <div class="post">
                  <% if post.user.avatar.present? %>
                    <%= image_tag(post.user.avatar.variant(resize_to_fill: [150, 150]), class: "rounded-circle") %>
                  <% else %>
                    <%= image_tag("user.png", width: 150, height: 150, :class => "rounded-circle") %>
                  <% end %>
                  <p class="user"><%= post.user.uname %></p>
                </div>
              </div>
              <div class="card-body message-body">
                <h3 class="card-title"><%= post.title %></h3>
                <p class="card-text"><%= post.body %></p>
                <%= link_to 'Commenti', post_path(post),:class => "btn btn-primary" %>
                <br>
                <% if can? :Destroy, post%>
                <%= link_to 'Rimuovi post', [post.condominio, post],
                    method: :delete ,data: { confirm: 'Sei sicuro?' } %>
                <% end %>
                </p>
              </div>
            </div>
          </div>
          <% end %>
          <% else %>
          <br>
          <p><strong>Nessun post creato, clicca su crea post!</strong></p>
        <% end %>  
      </div>
      <div class="col">
        <h2>Aggiungi un Post:</h2>
        <%= form_with model: [@condominio, @condominio.posts.build ] do |form|
        %>
          <p>
            <%= form.label :title  %><br>
            <%= form.text_field :title,required: true %>
          </p>  
          <p>
            <%= form.label :body %><br>
            <%= form.text_area :body,required: true %>
          </p>
          <p>
            <%= form.label :file %><br>
            <%= form.file_field :file,required: false %>
          </p>
          <% if (can? :update, @condominio) && @condomini.count > 1 %>
            <h4>Selezionare gli utenti a cui inviare il file:</h4>
            <p>Non selezionando nessuno, il file non verrà caricato, ma pubblicato solo il post</p>
              <% @condomini.each do |condomino| %>
                  <% if condomino.user_id != current_user.id %>
                      <div class="row py-2">
                          <div class="col-5">
                              <% if User.find_by(id: condomino.user_id).avatar.present? %>
                                  <%= image_tag(User.find_by(id: condomino.user_id).avatar.variant(resize_to_fill: [20, 20]), class: "rounded-circle") %>
                              <% else %>
                                  <%= image_tag("user.png", width: 20, height:20, :class => "rounded-circle") %>
                              <% end %>
                              <%= User.find_by(id: condomino.user_id).uname %>
                          </div>
                          <div class="col-2">
                            <%= form.check_box(:condomino_select,{ multiple: true }, condomino.id, nil) %>
                          </div>
                      </div>
                  <% end %>
              <% end %>
            <% end %>
          <p>
            <%= form.submit "Crea Post",:class => "btn btn-primary" %>
          </p>
        <% end %>
        <br>
        <%= month_calendar(events: @eventi) do |date, eventi| %>
          <%= date.day %>
            <% eventi.each do |evento| %>
              <div>
                &#8226; <%= evento.titolo %>
              </div>
            <% end %>
        <% end %>
        <br>
        <% if can? :update, @condominio%>
        <%= link_to 'Crea evento', new_event_path(condominio_id: @condominio.id),:class => "btn btn-primary my-2" %> | <% end %> <%= link_to 'Eventi creati', events_path(condominio_id: @condominio.id),:class => "btn btn-primary my-2" %> <br>
        <%= link_to 'Accedi al Google Drive', "https://drive.google.com/drive/folders" + @codice_cartella,:class => "btn btn-primary my-2" %>
    </div>
  </div>
</div>
