<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @condominio.nome %>
</p>

<p>
  <strong>Comune:</strong>
  <%= @condominio.comune %>
</p>

<p>
  <strong>Indirizzo:</strong>
  <%= @condominio.indirizzo %>
</p>

<p>
  <strong>Latitudine:</strong>
  <%= @condominio.latitude %>
</p>

<p>
  <strong>Longitudine:</strong>
  <%= @condominio.longitude %>
</p>

<p>
  <strong>Codice:</strong>
  <%= @condominio.codice %>
</p>

<%= link_to 'Edit', edit_condominio_path(@condominio) %> |
<%= link_to 'Back', condominios_path %>
