<p id="notice"><%= notice %></p>

  <% if @condominio.avatar.present? %>
    <%= image_tag(@condominio.avatar.variant(resize_to_fill: [1000, 150])) %>
  <% else %>
    <%= image_tag("banner.png", width: 1000, height: 150) %>
  <% end %>

<p>
  <strong>Nome:</strong>
  <%= @condominio.nome %>
</p>

<p>
  <strong>Comune:</strong>
  <%= @condominio.comune %>
</p>

<p>
  <strong>Indirizzo:</strong>
  <%= @condominio.indirizzo %>
</p>

<p>
  <strong>Latitudine:</strong>
  <%= @condominio.latitude %>
</p>

<p>
  <strong>Longitudine:</strong>
  <%= @condominio.longitude %>
</p>

<p>
  <strong>Codice:</strong>
  <%= @condominio.flat_code %>
</p>

<%= link_to 'Back', condominios_path %>
