<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titolo %>
    <%= form.text_field :titolo,required: true %>
  </div>

  <div class="field">
    <%= form.label "Data evento" %>
    <%= form.datetime_select :start_time,default: 1.days.from_now, required: true %>
  </div>

  <div class="actions">
    <%= hidden_field_tag :condominio_id, @condominio.id %>
    <%= form.submit "Crea evento",:class => "btn btn-primary"  %>
  </div>
<% end %>
