<dic class="container">
  <p id="notice"><%= notice %></p>

  <h1>Eventi del condominio</h1>

  <table>
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Titolo</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% if @events.exists? %>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.categoria %></td>
            <td><%= event.titolo %></td>
            <td><%= link_to 'Informazioni', event_url(id: event.id,condominio_id: @condominio.id) %></td>
            <% if can? :update, event%>
            <td><%= link_to 'Modifica', edit_event_path(event,condominio_id: @condominio.id) %></td> <% end %>
            <% if can? :destroy, event%>
            <td><%= link_to 'Elimina', event_url(id:event,condominio_id: @condominio.id), method: :delete, data: { confirm: 'Sei sicuro?' } %></td><% end %>
          </tr>
        <% end %>
      <% else %>
        <tr>
            <td>Ancora nessun evento è stato creato, clicca su nuovo evento!</td>
        <tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <% if can? :update, @condominio%>
  <%= link_to 'Nuovo evento', new_event_path(condominio_id: @condominio.id),:class => "btn btn-primary"%> |<% end %> <%= link_to 'Bacheca',  condominio_url(@condominio) ,:class => "btn btn-primary"%>
</div>
