<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Categoria:</strong>
    <%= @event.categoria %>
  </p>

  <p>
    <strong>Titolo:</strong>
    <%= @event.titolo %>
  </p>

  <p>
    <strong>Data evento:</strong>
    <%= @event.start_time %>
  </p>
  <% if can? :update, @event%>
  <%= link_to 'Modifica', edit_event_path(@event,condominio_id: @condominio.id), :class => "btn btn-primary" %> | <% end %>
  <%= link_to 'Indietro', events_url(condominio_id: @condominio.id),:class => "btn btn-primary" %>
</div>
