<div class="container">
  <br>
  <p id="notice"><%= notice %></p>

  <h1>Richieste d'accesso inviate</h1>
  <% if @my_requests.exists? %>
  <table>
    <thead>
      <tr>
        <th>Condominio</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @my_requests.each do |request| %>
        <tr>
          <td><%= Condominio.find_by(id:request.condominio_id).nome %></td>
          <td><%= User.find_by(id:request.user_id).uname %></td>
          <td><%= link_to 'Mostra', request %></td>
          <td><%= link_to 'Annulla', request, method: :delete, data: { confirm: 'Sei sicuro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <br>
    <p><strong>Nessuna richiesta inviata, clicca su Nuova Richiesta!</strong></p>
  <% end %>  

  <br>

  <h1>Richieste d'accesso ricevute</h1>

  <% if @recived_requests.exists? %>
  <table>
    <thead>
      <tr>
        <th>Condominio</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @recived_requests.each do |request| %>
        <tr>
          <td><%= Condominio.find_by(id:request.condominio_id).nome %></td>
          <td><%= User.find_by(id:request.user_id).uname %></td>
          <td><%= link_to 'Mostra', request %></td>
          <td><%= link_to 'Annulla', request, method: :delete, data: { confirm: 'Sei sicuro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <br>
    <p><strong>Nessuna richiesta ricevuta per i condomini amministrati!</strong></p>
  <% end %>  
  <br>

  <%= link_to 'Nuova richiesta', '/enter' %>
  <%= link_to 'Home', condominios_path %>
</div>
