<p id="notice"><%= notice %></p>

<p>
  <strong>Condominio:</strong>
  <%= @request.condominio_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user_id %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
