<div class="container">
    <br>
    <p id="notice"><%= notice %></p>

    <h2>Comunicazione per i condomini</h1>
    <br>
    <div class="row gx-5">
        <div class="col-4">
            <%= form_tag(controller: "condominios", action: "comunication_for_admin", method: "post") do %>
                <div class="row py-2">
                    <div class="col-6">
                        <%= label :message, "Messaggio da inviare:" %>
                        <%= text_area_tag :message,nil, required: true %>
                    </div>
                </div>
                <%= submit_tag "Invia a tutti", :class => "btn btn-primary"  %>
                <br>
                <h3 class="py-4">...Oppure seleziona i riceventi:</h3>
                <% @condomini.each do |condomino| %>
                <div class="row py-2">
                    <div class="col-5">
                        <% if User.find_by(id: condomino.user_id).avatar.present? %>
                            <%= image_tag(User.find_by(id: condomino.user_id).avatar.variant(resize_to_fill: [20, 20]), class: "rounded-circle") %>
                         <% else %>
                            <%= image_tag("user.png", width: 20, height:20, :class => "rounded-circle") %>
                        <% end %>
                        <%= User.find_by(id: condomino.user_id).uname %>
                    </div>
                    <div class="col-2">
                        <%= radio_button_tag(:new_amministratore_id, condomino.user_id, :checked => 'true') %>
                    </div>
                </div>
                <% end %>
                <div class="row py-2">
                    <div class="col-2">
                        <%= submit_tag "Invia ai condomini selezioni", :class => "btn btn-primary"  %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <br>
    <%= link_to 'Indietro', @condominio_comunicazione,:class => "btn btn-primary" %>
</div>